pylib/docs/_build

# pytest caches
.pytest_cache/

# Object files
*.o
*.do
*.da
*.ko
*.obj
*.elf
*.o.d

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# kdevelop files
.kdev4/*
*.kdev4

# vim temp files
*.un~
*~
*.swp

# clion files
cmake-build-debug/*
compile_commands.json

# Cached/Pre-compiled Python files
*.pyc
__pycache__

dist
.idea
.project
.cproject
*.o.cmd
*.ko.cmd
/driver/.tmp_versions
/driver/Module.symvers
/driver/modules.order
/driver/*.mod
/driver/*.mod.c
/driver/.*.cmd
