# Object files
*.o
*.do
*.da
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Cached/Pre-compiled Python files
*.pyc
__pycache__


*.o.cmd
*.ko.cmd
/daemon/razer_bcd
/daemon/razer_bcd_debug_shared
/daemon/razer_bcd_debug_static
/daemon/razer_bcd_static
/daemon_controller/razer_bcd_controller
/daemon_controller/razer_bcd_controller_debug_shared
/daemon_controller/razer_bcd_controller_debug_static
/daemon_controller/razer_bcd_controller_static
/driver/.tmp_versions
/driver/Module.symvers
/driver/modules.order
/driver/razerfirefly.mod.c
/driver/razerkbd.mod.c
/driver/razermouse.mod.c
/examples/controller_example
/examples/controller_example_debug
/examples/dota_keys
/examples/dota_keys_debug
/examples/dynamic
/examples/example1
/examples/example1_debug
/examples/input_example
/examples/input_example_debug
/examples/input_map
/examples/input_map_debug
/examples/raw_example
/examples/raw_example_debug
/examples/snake_game/snake_game
