[Desktop Entry]
Name=OpenRazer Service
Comment=DBus daemon to abstract away from the driver and to provide more logic and integration with userspace stuffs.
Keywords=razer;keyboard;chroma;
NoDisplay=false
Exec=/usr/bin/openrazer-daemon --foreground --verbose
Icon=/usr/share/pixmaps/python3.xpm
Terminal=false
Type=Application
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=false
X-GNOME-UsesNotifications=true
