[Desktop Entry]
Name=Razer Tray Applet
Comment=Custom applet to control basic keyboard features
Keywords=razer;keyboard;chroma;
Exec=/usr/share/razer_tray_applet/razer_tray_applet.py
Icon=/usr/share/razer_tray_applet/razer_icon.png
Terminal=false
Type=Application
Categories=Keyboard;Razer;Chroma
OnlyShowIn=Unity;
