[Desktop Entry]
Name=Razer Tray Applet
Comment=Custom applet to control basic keyboard features
Keywords=razer;keyboard;chroma;
NoDisplay=true
Exec=/usr/share/razer_tray_applet/razer_tray_applet.py
Icon=/usr/share/razer_tray_applet/razer_icon.png
OnlyShowIn=GNOME;Unity;
Terminal=false
Type=Application
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=true
X-GNOME-UsesNotifications=true
