<div id="keyboard-inner">
  <table>
    <tr>
      <td style="width:54px"></td>
      <td><a onclick="key(\'x1-y0\')"><div id="x1-y0" data-keyid="ESC" class="key small" style="width:24px">esc</div></a></td>
      <td class="key-gap-marco"></td>
      <td><a onclick="key(\'x3-y0\')"><div id="x3-y0" data-keyid="F1" class="key">F1</div></a></td>
      <td><a onclick="key(\'x4-y0\')"><div id="x4-y0" data-keyid="F2" class="key">F2</div></a></td>
      <td><a onclick="key(\'x5-y0\')"><div id="x5-y0" data-keyid="F3" class="key">F3</div></a></td>
      <td><a onclick="key(\'x6-y0\')"><div id="x6-y0" data-keyid="F4" class="key">F4</div></a></td>
      <td class="key-gap-functions"></td>
      <td><a onclick="key(\'x7-y0\')"><div id="x7-y0" data-keyid="F5" class="key">F5</div></a></td>
      <td><a onclick="key(\'x8-y0\')"><div id="x8-y0" data-keyid="F6" class="key">F6</div></a></td>
      <td><a onclick="key(\'x9-y0\')"><div id="x9-y0" data-keyid="F7" class="key">F7</div></a></td>
      <td><a onclick="key(\'x10-y0\')"><div id="x10-y0" data-keyid="F8" class="key">F8</div></a></td>
      <td class="key-gap-functions"></td>
      <td><a onclick="key(\'x11-y0\')"><div id="x11-y0" data-keyid="F9" class="key">F9</div></a></td>
      <td><a onclick="key(\'x12-y0\')"><div id="x12-y0" data-keyid="F10" class="key">F10</div></a></td>
      <td><a onclick="key(\'x13-y0\')"><div id="x13-y0" data-keyid="F11" class="key">F11</div></a></td>
      <td><a onclick="key(\'x14-y0\')"><div id="x14-y0" data-keyid="F12" class="key">F12</div></a></td>
      <td class="key-gap-functions"></td>
      <td><a onclick="key(\'x15-y0\')"><div id="x15-y0" data-keyid="PRTSCR" class="key small">prtsc sysrq</div></a></td>
      <td><a onclick="key(\'x16-y0\')"><div id="x16-y0" data-keyid="SCRLK" class="key small">scr lk</div></a></td>
      <td><a onclick="key(\'x17-y0\')"><div id="x17-y0" data-keyid="PAUSE" class="key small">pause break</div></a></td>
    </tr>
  </table>
  <table>
    <tr>
      <td><a onclick="key(\'x0-y1\')"><div id="x0-y1" data-keyid="M1" class="key">M1</div></a></td>
      <td class="key-gap-marco"></td>
      <td><a onclick="key(\'x1-y1\')"><div id="x1-y1" data-keyid="BACKTICK" class="key">`</div></a></td>
      <td><a onclick="key(\'x2-y1\')"><div id="x2-y1" data-keyid="1" class="key">1</div></a></td>
      <td><a onclick="key(\'x3-y1\')"><div id="x3-y1" data-keyid="2" class="key">2</div></a></td>
      <td><a onclick="key(\'x4-y1\')"><div id="x4-y1" data-keyid="3" class="key">3</div></a></td>
      <td><a onclick="key(\'x5-y1\')"><div id="x5-y1" data-keyid="4" class="key">4</div></a></td>
      <td><a onclick="key(\'x6-y1\')"><div id="x6-y1" data-keyid="5" class="key">5</div></a></td>
      <td><a onclick="key(\'x7-y1\')"><div id="x7-y1" data-keyid="6" class="key">6</div></a></td>
      <td><a onclick="key(\'x8-y1\')"><div id="x8-y1" data-keyid="7" class="key">7</div></a></td>
      <td><a onclick="key(\'x9-y1\')"><div id="x9-y1" data-keyid="8" class="key">8</div></a></td>
      <td><a onclick="key(\'x10-y1\')"><div id="x10-y1" data-keyid="9" class="key">9</div></a></td>
      <td><a onclick="key(\'x11-y1\')"><div id="x11-y1" data-keyid="0" class="key">0</div></a></td>
      <td><a onclick="key(\'x12-y1\')"><div id="x12-y1" data-keyid="DASH" class="key">-</div></a></td>
      <td><a onclick="key(\'x13-y1\')"><div id="x13-y1" data-keyid="EQUALS" class="key">=</div></a></td>
      <td><a onclick="key(\'x14-y1\')"><div id="x14-y1" data-keyid="BACKSPACE" class="key icon icon-bkspace" style="width:32px"></div></a></td>
      <td class="key-gap-middle"></td>
      <td><a onclick="key(\'x15-y1\')"><div id="x15-y1" data-keyid="INS" class="key small">ins</div></a></td>
      <td><a onclick="key(\'x16-y1\')"><div id="x16-y1" data-keyid="HOME" class="key small">home</div></a></td>
      <td><a onclick="key(\'x17-y1\')"><div id="x17-y1" data-keyid="PAGEUP" class="key small">page up</div></a></td>
      <td class="key-gap-middle"></td>
      <td><a onclick="key(\'x18-y1\')"><div id="x18-y1" data-keyid="NUMLK" class="key small">num lk</div></a></td>
      <td><a onclick="key(\'x19-y1\')"><div id="x19-y1" data-keyid="NPFORWARDSLASH" class="key small">/</div></a></td>
      <td><a onclick="key(\'x20-y1\')"><div id="x20-y1" data-keyid="NPASTERISK" class="key small">*</div></a></td>
      <td><a onclick="key(\'x21-y1\')"><div id="x21-y1" data-keyid="NPDASH" class="key small">-</div></a></td>
    </tr>
  </table>
  <table>
    <tr>
      <td><a onclick="key(\'x0-y2\')"><div id="x0-y2" data-keyid="M2" class="key">M2</div></a></td>
      <td class="key-gap-marco"></td>
      <td><a onclick="key(\'x1-y2\')"><div id="x1-y2" data-keyid="TAB" class="key small" style="width:32px">tab</div></a></td>
      <td><a onclick="key(\'x2-y2\')"><div id="x2-y2" data-keyid="Q" class="key">Q</div></a></td>
      <td><a onclick="key(\'x3-y2\')"><div id="x3-y2" data-keyid="W" class="key">W</div></a></td>
      <td><a onclick="key(\'x4-y2\')"><div id="x4-y2" data-keyid="E" class="key">E</div></a></td>
      <td><a onclick="key(\'x5-y2\')"><div id="x5-y2" data-keyid="R" class="key">R</div></a></td>
      <td><a onclick="key(\'x6-y2\')"><div id="x6-y2" data-keyid="T" class="key">T</div></a></td>
      <td><a onclick="key(\'x7-y2\')"><div id="x7-y2" data-keyid="Y" class="key">Y</div></a></td>
      <td><a onclick="key(\'x8-y2\')"><div id="x8-y2" data-keyid="U" class="key">U</div></a></td>
      <td><a onclick="key(\'x9-y2\')"><div id="x9-y2" data-keyid="I" class="key">I</div></a></td>
      <td><a onclick="key(\'x10-y2\')"><div id="x10-y2" data-keyid="O" class="key">O</div></a></td>
      <td><a onclick="key(\'x11-y2\')"><div id="x11-y2" data-keyid="P" class="key">P</div></a></td>
      <td><a onclick="key(\'x12-y2\')"><div id="x12-y2" data-keyid="LEFTSQUAREBRACKET" class="key">[</div></a></td>
      <td><a onclick="key(\'x13-y2\')"><div id="x13-y2" data-keyid="RIGHTSQUAREBRACKET" class="key">]</div></a></td>
      <td><a onclick="key(\'x14-y3\')"><div id="x14-y3" data-keyid="RETURN" class="key small icon icon-enter">enter</div></a></td>
      <td class="key-gap-middle"></td>
      <td><a onclick="key(\'x15-y2\')"><div id="x15-y2" data-keyid="DELETE" class="key small">del</div></a></td>
      <td><a onclick="key(\'x16-y2\')"><div id="x16-y2" data-keyid="END" class="key small">end</div></a></td>
      <td><a onclick="key(\'x17-y2\')"><div id="x17-y2" data-keyid="PAGEDOWN" class="key small">page down</div></a></td>
      <td class="key-gap-middle"></td>
      <td><a onclick="key(\'x18-y2\')"><div id="x18-y2" data-keyid="NP7" class="key">7</div></a></td>
      <td><a onclick="key(\'x19-y2\')"><div id="x19-y2" data-keyid="NP8" class="key">8</div></a></td>
      <td><a onclick="key(\'x20-y2\')"><div id="x20-y2" data-keyid="NP9" class="key">9</div></a></td>
      <td><a onclick="key(\'x21-y2\')"><div id="x21-y2" data-keyid="NPPLUS" class="key">+</div></a></td>
    </tr>
  </table>
  <table>
    <tr>
      <td><a onclick="key(\'x0-y3\')"><div id="x0-y3" data-keyid="M3" class="key">M3</div></a></td>
      <td class="key-gap-marco"></td>
      <td><a onclick="key(\'x1-y3\')"><div id="x1-y3" data-keyid="CAPSLK" class="key small" style="width:38px">caps lk</div></a></td>
      <td><a onclick="key(\'x2-y3\')"><div id="x2-y3" data-keyid="A" class="key">A</div></a></td>
      <td><a onclick="key(\'x3-y3\')"><div id="x3-y3" data-keyid="S" class="key">S</div></a></td>
      <td><a onclick="key(\'x4-y3\')"><div id="x4-y3" data-keyid="D" class="key">D</div></a></td>
      <td><a onclick="key(\'x5-y3\')"><div id="x5-y3" data-keyid="F" class="key">F</div></a></td>
      <td><a onclick="key(\'x6-y3\')"><div id="x6-y3" data-keyid="G" class="key">G</div></a></td>
      <td><a onclick="key(\'x7-y3\')"><div id="x7-y3" data-keyid="H" class="key">H</div></a></td>
      <td><a onclick="key(\'x8-y3\')"><div id="x8-y3" data-keyid="J" class="key">J</div></a></td>
      <td><a onclick="key(\'x9-y3\')"><div id="x9-y3" data-keyid="K" class="key">K</div></a></td>
      <td><a onclick="key(\'x10-y3\')"><div id="x10-y3" data-keyid="L" class="key">L</div></a></td>
      <td><a onclick="key(\'x11-y3\')"><div id="x11-y3" data-keyid="SEMICOLON" class="key">;</div></a></td>
      <td><a onclick="key(\'x12-y3\')"><div id="x12-y3" data-keyid="APOSTROPHE" class="key">\'</div></a></td>
      <td><a onclick="key(\'x13-y3\')"><div id="x13-y3" data-keyid="POUNDSIGN" class="key">#</div></a></td>
      <td class="key-gap-middle-wide"></td>
      <td><a onclick="key(\'x18-y3\')"><div id="x18-y3" data-keyid="NP4" class="key">4</div></a></td>
      <td><a onclick="key(\'x19-y3\')"><div id="x19-y3" data-keyid="NP5" class="key">5</div></a></td>
      <td><a onclick="key(\'x20-y3\')"><div id="x20-y3" data-keyid="NP6" class="key">6</div></a></td>
    </tr>
  </table>
  <table>
    <tr>
      <td><a onclick="key(\'x0-y4\')"><div id="x0-y4" data-keyid="M4" class="key">M4</div></a></td>
      <td class="key-gap-marco"></td>
      <td><a onclick="key(\'x1-y4\')"><div id="x1-y4" data-keyid="LEFTSHIFT" class="key small" style="width:30px">shift</div></a></td>
      <td><a onclick="key(\'x2-y4\')"><div id="x2-y4" data-keyid="BACKSLASH" class="key">\\</div></a></td>
      <td><a onclick="key(\'x3-y4\')"><div id="x3-y4" data-keyid="Z" class="key">Z</div></a></td>
      <td><a onclick="key(\'x4-y4\')"><div id="x4-y4" data-keyid="X" class="key">X</div></a></td>
      <td><a onclick="key(\'x5-y4\')"><div id="x5-y4" data-keyid="C" class="key">C</div></a></td>
      <td><a onclick="key(\'x6-y4\')"><div id="x6-y4" data-keyid="V" class="key">V</div></a></td>
      <td><a onclick="key(\'x7-y4\')"><div id="x7-y4" data-keyid="B" class="key">B</div></a></td>
      <td><a onclick="key(\'x8-y4\')"><div id="x8-y4" data-keyid="N" class="key">N</div></a></td>
      <td><a onclick="key(\'x9-y4\')"><div id="x9-y4" data-keyid="M" class="key">M</div></a></td>
      <td><a onclick="key(\'x10-y4\')"><div id="x10-y4" data-keyid="COMMA" class="key">,</div></a></td>
      <td><a onclick="key(\'x11-y4\')"><div id="x11-y4" data-keyid="PERIOD" class="key">.</div></a></td>
      <td><a onclick="key(\'x12-y4\')"><div id="x12-y4" data-keyid="FORWARDSLASH" class="key">/</div></a></td>
      <td><a onclick="key(\'x14-y4\')"><div id="x14-y4" data-keyid="RIGHTSHIFT" class="key small" style="width:55px">shift</div></a></td>
      <td class="key-gap-middle" style="width:42px"></td>
      <td><a onclick="key(\'x16-y4\')"><div id="x16-y4" data-keyid="UPARROW" class="key icon icon-up"></div></a></td>
      <td class="key-gap-middle" style="width:43px"></td>
      <td><a onclick="key(\'x18-y4\')"><div id="x18-y4" data-keyid="NP1" class="key">1</div></a></td>
      <td><a onclick="key(\'x19-y4\')"><div id="x19-y4" data-keyid="NP2" class="key">2</div></a></td>
      <td><a onclick="key(\'x20-y4\')"><div id="x20-y4" data-keyid="NP3" class="key">3</div></a></td>
      <td><a onclick="key(\'x21-y4\')"><div id="x21-y4" data-keyid="ENTER" class="key small">enter</div></a></td>
    </tr>
  </table>
  <table>
    <tr>
      <td><a onclick="key(\'x0-y5\')"><div id="x0-y5" data-keyid="M5" class="key">M5</div></a></td>
      <td class="key-gap-marco"></td>
      <td><a onclick="key(\'x1-y5\')"><div id="x1-y5" data-keyid="LEFTCTRL" class="key small" style="width:35px">ctrl</div></a></td>
      <!-- The Tux logo for the Super Key is © Larry Ewing -->
      <td><a onclick="key(\'x2-y5\')"><div id="x2-y5" data-keyid="SUPER" class="key icon icon-super"></div></a></td>
      <td><a onclick="key(\'x3-y5\')"><div id="x3-y5" data-keyid="LEFTALT" class="key small" style="width:35px">alt</div></a></td>
      <td><div id="space" class="key small" style="width:175px"></div></a></td>
      <td><a onclick="key(\'x11-y5\')"><div id="x11-y5" data-keyid="RIGHTALT" class="key small" style="width:35px">alt gr</div></a></td>
      <td><div class="key icon icon-fn"></div></td>
      <td><a onclick="key(\'x13-y5\')"><div id="x13-y5" data-keyid="CTXMENU" class="key icon icon-menu"></div></a></td>
      <td><a onclick="key(\'x14-y5\')"><div id="x14-y5" data-keyid="RIGHTCTRL" class="key small" style="width:35px">ctrl</div></a></td>
      <td class="key-gap-middle"></td>
      <td><a onclick="key(\'x15-y5\')"><div id="x15-y5" data-keyid="LEFTARROW" class="key icon icon-left"></div></a></td>
      <td><a onclick="key(\'x16-y5\')"><div id="x16-y5" data-keyid="DOWNARROW" class="key icon icon-down"></div></a></td>
      <td><a onclick="key(\'x17-y5\')"><div id="x17-y5" data-keyid="RIGHTARROW" class="key icon icon-right"></div></a></td>
      <td class="key-gap-middle"></td>
      <td><a onclick="key(\'x19-y5\')"><div id="x19-y5" data-keyid="NP0" class="key" style="width:54px">0</div></a></td>
      <td><a onclick="key(\'x20-y5\')"><div id="x20-y5" data-keyid="NPPERIOD" class="key">.</div></a></td>
    </tr>
  </table>
  <div style="text-align: center; margin-left:auto; margin-right:auto; padding-top: 4px">
    <a onclick="key(\'x20-y0\')"><div id="x20-y0" data-keyid="LOGO" class="key icon icon-razer">.</div></a>
  </div>
</div>
