[Unit]
Description=Razer Keyboard Daemon
After=network.target auditd.service

[Service]
EnvironmentFile=-/etc/default/razer_bcd
ExecStartPre=/usr/share/razer_bcd/systemd_helpers.sh bind
ExecStart=/usr/sbin/razer_bcd --pid-file /var/run/razer_bcd.pid
ExecStopPost=/usr/share/razer_bcd/systemd_helpers.sh unbind
KillMode=process
TimeoutStopSec=30
Type=forking
PIDFile=/var/run/razer_bcd.pid

[Install]
WantedBy=multi-user.target
Alias=razer_bcd.service


