Package: razer-chroma-driver
Source: razer-blackwidow-chroma-driver
Version: 1.0.0
Section: kernel
Priority: extra
Maintainer: Terry Cain <terry@terrys-home.co.uk>
Homepage: https://github.com/pez2001/razer_blackwidow_chroma_driver
Architecture: amd64
Depends: dkms, g++, build-essential, libdbus-1-dev, jq, libsdl2-dev, libsdl2-image-dev, libfftw3-3
Description: Razer Chroma Keyboard Driver
 A daemon and helper utility are also provided.
