Source: openrazer
Section: misc
Priority: optional
Maintainer: Terry Cain <terry@terrys-home.co.uk>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 8.0.0),
               linux-headers-generic,
               python3,
               python3-setuptools,
               lsb-release
Homepage: https://openrazer.github.io/
Vcs-Git: git://git@github.com:openrazer/openrazer.git
Vcs-Browser: https://github.com/openrazer/openrazer/

Package: openrazer-kernel-modules-dkms
Section: kernel
Architecture: amd64 i386
Depends: dkms,
         udev,
         ${misc:Depends}
Provides: razer-chroma-driver,
          razer-kernel-modules-dkms
Conflicts: razer-chroma-driver,
          razer-kernel-modules-dkms
Replaces: razer-chroma-driver,
          razer-kernel-modules-dkms
Description: OpenRazer Peripheral Drivers
 A keyboard driver, a mouse driver and a mousemat driver
 for Razer devices, plus support for Razer Blade devices.

Package: openrazer-meta
Version: 1.0
Depends: openrazer-kernel-modules-dkms,
         openrazer-daemon,
         python3-openrazer,
         openrazer-doc
Architecture: all
Description: Metapackage for OpenRazer components
 Package that depends on the OpenRazer driver and userspace
 daemon, plus a Python library and documentation.

Package: openrazer-daemon
Section: misc
Architecture: amd64 i386
Depends: razer-kernel-modules-dkms,
         python3,
         python3-dbus,
         python3-gi,
         python3-pyudev,
         python3-evdev,
         python3-setproctitle,
         python3-notify2,
         gir1.2-gtk-3.0,
         xautomation,
         xdotool,
         ${openrazer:dbus-user-session}
Provides: razer-daemon
Conflicts: razer-daemon
Replaces: razer-daemon
Recommends: python3-openrazer
Description: OpenRazer Device Daemon
 A user-space daemon used to interface with the driver.
 It auto-starts in the XDG directory and handles syncing
 across devices.

Package: python3-openrazer
Section: misc
Architecture: all
Depends: python3,
         python3-dbus,
         python3-gi,
         python3-numpy
Provides: python3-razer
Conflicts: python3-razer
Replaces: python3-razer
Description: OpenRazer Python Library
 Contains a library for interacting with the OpenRazer daemon.

Package: openrazer-doc
Section: doc
Architecture: all
Provides: razer-doc
Conflicts: razer-doc
Replaces: razer-doc
Description: Documentation and examples for the OpenRazer Tools
 Scripts on how to interact with the daemon and the driver.

