Source: razer
Section: misc
Priority: optional
Maintainer: Terry Cain <terry@terrys-home.co.uk>
Build-Depends: debhelper (>= 8.0.0), linux-headers-generic, libdbus-1-dev, jq, libsdl2-dev, libsdl2-image-dev, libfftw3-3, libfftw3-dev
Standards-Version: 3.9.5
Homepage: https://terrycain.github.io/razer_drivers/
Vcs-Git: git://git@github.com:terrycain/razer_drivers.git
Vcs-Browser: https://github.com/terrycain/razer_drivers/

Package: razer-kernel-modules-dkms
Section: kernel
Architecture: amd64
Depends: dkms, udev, ${misc:Depends}
Description: Razer device drivers
 There is a keyboard driver, a mouse driver and a mousemat driver. The keyboard driver includes support for Razer Blade devices.

Package: razer-daemon
Section: misc
Architecture: amd64
Depends: razer-kernel-modules-dkms, python3, python3-dbus, python3-gi, python3-setproctitle, xautomation, xdotool
Recommends: python3-razer
Description: Razer device daemon
 This package contains the daemon which is used to interface with the driver. The daemon resides in userspace and goes into the XDG autostart directory. It handles syncing across devices.

Package: python3-razer
Section: misc
Architecture: all
Depends: python3, python3-dbus, python3-gi, python3-numpy
Description: Razer python library
 Contains a client for interacting with the Razer daemon.

Package: razer-doc
Section: doc
Architecture: all
Description: documentation and examples for the razer tools
 Scripts on how to interact with the daemon and the driver.
