ACTION!="add", GOTO="razer_end"
SUBSYSTEMS=="usb|input|hid", ATTRS{idVendor}=="1532", GOTO="razer_vendor"
GOTO="razer_end"

LABEL="razer_vendor"

# Mice
ATTRS{idProduct}=="0013|0020|0024|0025|002f|0032|0034|0036|0037|0039|0040|0041|0042|0043|0044|0045|0046|0048|004c|0050|0053|0054|005b|005c|005e", \
    ATTRS{idVendor}=="1532", \
    ENV{ID_RAZER_CHROMA}="1", ENV{RAZER_DRIVER}="razermouse"

# Keyboards
ATTRS{idProduct}=="010d|010e|0111|0113|011b|011a|010f|0201|0202|0203|0204|0205|0207|0208|0209|020f|0210|0211|0214|0216|021a|0217|021a|021e|021f|0220|0221|0224|0225|0226|022a|022d|022f|0232|0233|0239|023a|023b|0240", \
    ATTRS{idVendor}=="1532", \
    ENV{ID_RAZER_CHROMA}="1", ENV{RAZER_DRIVER}="razerkbd"

# Mouse Mats
ATTRS{idProduct}=="0c00|0c01|0c02", \
    ATTRS{idVendor}=="1532", \
    ENV{ID_RAZER_CHROMA}="1", ENV{RAZER_DRIVER}="razermousemat"

# Kraken
ATTRS{idProduct}=="0501|0504|0506|0510", \
    ATTRS{idVendor}=="1532", \
    ENV{ID_RAZER_CHROMA}="1", ENV{RAZER_DRIVER}="razerkraken"

# Razer Mug
ATTRS{idProduct}=="0f07", \
    ATTRS{idVendor}=="1532", \
    ENV{ID_RAZER_CHROMA}="1", ENV{RAZER_DRIVER}="razermug"

# Core
ATTRS{idProduct}=="0215", \
    ATTRS{idVendor}=="1532", \
    ENV{ID_RAZER_CHROMA}="1", ENV{RAZER_DRIVER}="razercore"

# Get out if no match
ENV{ID_RAZER_CHROMA}!="1", GOTO="razer_end"

# Set permissions if this is an input node
SUBSYSTEM=="input|hid", GROUP:="plugdev"

# We're done unless it's the hid node
SUBSYSTEM!="hid", GOTO="razer_end"

# Rebind if needed
SUBSYSTEM=="hid", RUN+="razer_mount $env{RAZER_DRIVER} $kernel"

LABEL="razer_end"
