name: Mark stale issues

on:
  schedule:
  - cron: "30 1 * * *"

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.'
        days-before-issue-stale: 120
        days-before-issue-close: 30
        stale-issue-label: 'wontfix'
        exempt-issue-labels: 'Device Support,not stale'
        operations-per-run: 2
