name: Mark stale issues
on:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
      actions: write
    steps:
      - uses: actions/stale@v10
        with:
          stale-issue-message: 'This issue has been automatically marked as stale because it has not had recent activity. It will be closed if no further activity occurs. Thank you for your contributions.'
          days-before-issue-stale: 120
          days-before-issue-close: 30
          days-before-pr-stale: -1
          days-before-pr-close: -1
          stale-issue-label: 'wontfix'
          exempt-issue-labels: 'Device Support,not stale'
